<div [routerLink]="['/artists', artist.id]" class="artistBox well hoverwell thumbnail">
    <h6>{{ (artist.name.length>35)? (artist.name | uppercase | slice:0:35)+'   .  .  .   ':(artist.name | uppercase) }}</h6>
    
    <div>
        <span class="text-primary">genre: </span>
        <span class="badge badge-secondary">{{artist.genre}}</span>        
    </div>
    <div *ngIf="artist?.description" class="description">{{ (artist.description.length>185)? (artist.description | slice:0:185)+'   .  .  .   ':(artist.description) }}</div>
    
    <div *ngIf="artist?.country" class="country"><span class="text-primary">country: </span> {{artist.country}}</div>
</div>