
#addArtistButton{
    width: 200px;
}

.nav.navbar-nav{
    font-size: 10px;
}

.nav-item{
    margin-left: 15px;
}

#searchForm {
    margin-right: 60px;
}

@media(max-width: 1200px) {
    #searchForm {
        display: none
    }
}

#userInfo{
    margin-left: 15px;
}

#sortButtons{
    margin-right: 50px;
}

.sortLabel{
    float: left;
    margin: 6px 15px 0px 0px;
}