
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">m.sk</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
            
        <li class="nav-item">
            <button [routerLink]="['/artists/add']" id="addArtistButton" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add</button>
        </li>

        <!-- <li class="nav-item active">
          <a class="nav-link" href="#">arrange by Date Added <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">arrange by Name</a>
        </li> -->
      </ul>
      <form id="searchForm" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" placeholder="Search" type="text">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div id="userInfo">username1:<a class="btn btn-link" href="#">logout</a></div>
    </div>
  </nav>


  
  <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">app name</a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation" style="">
            <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="navbar-collapse collapse" id="navbarColor02">
            <ul class="navbar-nav  mr-auto">
                <li class="nav-item">
                    <button id="addArtistButton" class="btn btn-outline-primary my-2 my-sm-0" type="submit">Add</button>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Sorted by Name<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sort by Date Added</a>
                </li>
            </ul>
            
            <form id="searchForm"  class="form-inline my-2 my-lg-0"  >
                <input type="text" class="form-control mr-sm-2" placeholder="Search by Name" >
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>

            <div>username1:<a class="btn btn-link" href="#">logout</a></div>

        </div>
</nav> -->