<div class="row">
    <div class="col-md-4"><h3>Add Artist</h3></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>

<form #addArtistForm="ngForm" (ngSubmit)="addArtist(addArtistForm.value)" autocomplete="off" novaligenre>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" [ngClass]="{'error': addArtistForm.controls.name?.invalid && addArtistForm.controls.name?.touched}">
                <label for="artistName">Name*:</label>
                <em *ngIf="addArtistForm.controls.name?.invalid && (addArtistForm.controls.name?.touched)">Required</em>
                <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your artist..." />
            </div>
            <div class="form-group" [ngClass]="{'error': addArtistForm.controls.genre?.invalid && addArtistForm.controls.genre?.touched}">
                <label for="artistGenre">Genre*:</label>
                <em *ngIf="addArtistForm.controls.genre?.invalid && (addArtistForm.controls.genre?.touched)">Required</em>
                <input (ngModel)="genre" name="genre" required id="artistGenre" type="text" class="form-control" placeholder="Type a genre..." />
            </div>
            <div class="form-group" [ngClass]="{'error': addArtistForm.controls.country?.invalid && addArtistForm.controls.country?.touched}">
                <label for="artistCountry">Country:</label>
                <em *ngIf="addArtistForm.controls.country?.invalid && (addArtistForm.controls.country?.touched)">Required</em>
                <!--  -->
                <select (ngModel)="country" name="country" id="countrySelect" class="form-control  notRequired" >
                        <option value="" >Select country...</option>
                        <option value="Afganistan">Afghanistan</option>
                        <option value="Albania">Albania</option>
                        <option value="Algeria">Algeria</option>
                        <option value="American Samoa">American Samoa</option>
                        <option value="Andorra">Andorra</option>
                        <option value="Angola">Angola</option>
                        <option value="Anguilla">Anguilla</option>
                        <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Armenia">Armenia</option>
                        <option value="Aruba">Aruba</option>
                        <option value="Australia">Australia</option>
                        <option value="Austria">Austria</option>
                        <option value="Azerbaijan">Azerbaijan</option>
                        <option value="Bahamas">Bahamas</option>
                        <option value="Bahrain">Bahrain</option>
                        <option value="Bangladesh">Bangladesh</option>
                        <option value="Barbados">Barbados</option>
                      
                </select>
                <!--  -->
            </div>

        </div>   

        <div class="col-md-4">
            
            <div class="form-group">
                <label for="artistDescription">Description:</label>
                <textarea (ngModel)="description" name="description" class="form-control notRequired" id="descriptionTextarea" rows="4" placeholder="Say what do you like about it... "></textarea>
            </div>

            <div id="artistLink" class="form-group">
                <label for="artistLink">Link:</label>
                <input (ngModel)="link" name="link" type="text" class="form-control notRequired" placeholder="URL..." />
            </div>

        </div>


        <!-- <div class="form-group" [ngClass]="{'error': addArtistForm.controls.price?.invalid && addArtistForm.controls.price?.touched}">
            <label for="artistPrice">Event Price:</label>
            <em *ngIf="addArtistForm.controls.price?.invalid && (addArtistForm.controls.price?.touched)">Required</em>
            <input (ngModel)="price" name="price" required id="artistPrice" type="text" type="number" class="form-control" placeholder="artist price..." />
        </div> -->
        <div class="col-md-4">

            <div ngModelGroup="songs">
                <div class="form-group">
                    <label for="artistSong1">Remarkable Song:</label>
                    <input (ngModel)="song1" name="song1"  type="text" class="form-control notRequired" placeholder="Song Title.." />
                </div>
                <div class="form-group">
                    <label for="artistSong1">Another Song:</label>
                    <input (ngModel)="song2" name="song2"  type="text" class="form-control notRequired" placeholder="Song Title.." />
                </div>
            </div>

            <div class="form-group">
                <label for="artistAlbum">Best Album:</label>
                <input (ngModel)="album" name="album"  type="text" class="form-control notRequired" placeholder="Album Title.." />
            </div>
        </div>
    
</div>

<!-- <div class="row">
    <div class="form-group">
      <label for="address">Event Location:</label>
      <input (ngModel)="address" name="address" id="address" type="text" class="form-control" placeholder="Address of artist..." />
    </div>
      <div class="col-md-4">
        <input (ngModel)="city" name="city" id="city" type="text" class="form-control" placeholder="City..." />
      </div>
      <div class="col-md-4" >
        <input (ngModel)="country" name="country" id="country" type="text" class="form-control" placeholder="Country..." />
      </div>
</div> -->

    <!-- <div class="form-group">
      <label for="onlineUrl">Online Url:</label>
      <input (ngModel)="onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control" placeholder="Online Url..." />
    </div>
    <div class="form-group" [ngClass]="{'error': addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched}">
      <label for="imageUrl">Image:</label>
      <em *ngIf="addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched && addArtistForm.controls.imageUrl?.errors.required">Required</em>
      <em *ngIf="addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched  && addArtistForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
      <img />
    </div> -->

    <div class="row">
        <!-- <div class="col-md-4"></div> -->
        <div class="col-md-12">
            <button id="saveBtn" type="submit" [disabled]="addArtistForm.invalid" class="btn btn-outline-primary col-md-10">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-secondary col-md-2" (click)="cancel()">Cancel</button>
        </div>
        <!-- <div class="col-md-4"></div> -->
    </div>

</form>
