em{ 
    font-size: 0.8em;
    color: #e44848;
    padding-left: 10px;
}

.error input {background-color: #e44848;}
.error ::-webkit-input-placeholder { color: #e44848;}
.error ::-moz-placeholder { color: #e44848;}
.error :-moz-placeholder { color: #e44848;}
.error :-ms-input-placeholder { color: #e44848;}

#saveBtn{
    /* width: 255px; */
    width: 230px;
}

#cancelBtn{
    /* width: 255px; */
    width: 77px;
    margin-top: 10px;
    margin-left: 5px;
}

.btn-outline-primary{margin-top: 10px;}

.btn-outline-primary:disabled{
    border-color: #616161; color: #616161
}

input {
    max-width: 317px;
}

#countrySelect, #descriptionTextarea{
    max-width: 317px;
    
}