<form #addArtistForm="ngForm" (ngSubmit)="addArtist(addArtistForm.value)" autocomplete="off" novaligenre>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>Add Artist</h1>
            <hr>
        <div class="form-group" [ngClass]="{'error': addArtistForm.controls.name?.invalid && addArtistForm.controls.name?.touched}">
            <label for="artistName">Artist Name:</label>
            <em *ngIf="addArtistForm.controls.name?.invalid && (addArtistForm.controls.name?.touched)">Required</em>
            <input (ngModel)="name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your artist..." />
        </div>
        <div class="form-group" [ngClass]="{'error': addArtistForm.controls.genre?.invalid && addArtistForm.controls.genre?.touched}">
            <label for="artistGenre">Artist Genre:</label>
            <em *ngIf="addArtistForm.controls.genre?.invalid && (addArtistForm.controls.genre?.touched)">Required</em>
            <input (ngModel)="genre" name="genre" required id="artistGenre" type="text" class="form-control" placeholder="Type a genre..." />
        </div>
        <div class="form-group" [ngClass]="{'error': addArtistForm.controls.time?.invalid && addArtistForm.controls.time?.touched}">
            <label for="artistTime">Event Time:</label>
            <em *ngIf="addArtistForm.controls.time?.invalid && (addArtistForm.controls.time?.touched)">Required</em>
            <input (ngModel)="time" name="time" required id="artistTime" type="text" class="form-control" placeholder="start and end time..." />
        </div>
        <div class="form-group" [ngClass]="{'error': addArtistForm.controls.price?.invalid && addArtistForm.controls.price?.touched}">
            <label for="artistPrice">Event Price:</label>
            <em *ngIf="addArtistForm.controls.price?.invalid && (addArtistForm.controls.price?.touched)">Required</em>
            <input (ngModel)="price" name="price" required id="artistPrice" type="text" type="number" class="form-control" placeholder="artist price..." />
        </div>
    </div>
    <div class="col-md-4"></div>
</div>

<!-- <div class="row">
    <div class="form-group">
      <label for="address">Event Location:</label>
      <input (ngModel)="address" name="address" id="address" type="text" class="form-control" placeholder="Address of artist..." />
    </div>
      <div class="col-md-4">
        <input (ngModel)="city" name="city" id="city" type="text" class="form-control" placeholder="City..." />
      </div>
      <div class="col-md-4" >
        <input (ngModel)="country" name="country" id="country" type="text" class="form-control" placeholder="Country..." />
      </div>
</div> -->

    <!-- <div class="form-group">
      <label for="onlineUrl">Online Url:</label>
      <input (ngModel)="onlineUrl" name="onlineUrl" id="onlineUrl" type="text" class="form-control" placeholder="Online Url..." />
    </div>
    <div class="form-group" [ngClass]="{'error': addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched}">
      <label for="imageUrl">Image:</label>
      <em *ngIf="addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched && addArtistForm.controls.imageUrl?.errors.required">Required</em>
      <em *ngIf="addArtistForm.controls.imageUrl?.invalid && addArtistForm.controls.imageUrl?.touched  && addArtistForm.controls.imageUrl?.errors.pattern">Must be a png or jpg url</em>
      <input (ngModel)="imageUrl" name="imageUrl" required pattern=".*\/.*.(png|jpg)" id="imageUrl" type="text" class="form-control" placeholder="url of image..." />
      <img />
    </div> -->

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-outline-primary">Save</button>
            <button type="button" [disabled]="addArtistForm.invalid" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        </div>
        <div class="col-md-4"></div>
    </div>

</form>
