<div>
    <hr>
    <div class="row">
        <div id="sortButtons" class="col-md-12 d-flex justify-content-center">
            <div class="sortLabel">Sort by: </div>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label (click)="sortArtists('date')" class="btn btn-outline-secondary active">
                    <input  type="radio" name="options" id="option1" autocomplete="off" checked=""> Date
                </label>
                <label (click)="sortArtists('name')"  class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Name
                </label>
                <label  (click)="sortArtists('genre')" class="btn btn-outline-secondary">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Genre
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4" *ngFor="let artist of artists">
            <artist-thumbnail [artist]="artist"></artist-thumbnail>
        </div>
    </div>
</div>