#loginRow{
    margin-top: 30px;
}


#loginBtn{
    width: 342px;
    /* width: 255px; */
}

#userName , #password{
    width: 342px;
    /* width: 255px; */

}

.btn-outline-primary{margin-top: 10px;}

.btn-outline-primary:disabled{
    border-color: #616161; color: #616161
}

em{ 
    font-size: 0.8em;
    /* float: right; */
    color: #e44848;
    padding-left: 10px;
}


.error input {background-color: #e44848;}
.error ::-webkit-input-placeholder { color: #e44848;}
.error ::-moz-placeholder { color: #e44848;}
.error :-moz-placeholder { color: #e44848;}
.error :-ms-input-placeholder { color: #e44848;}