<div class="row">
    <div class="col-md-4"><h3>Edit Artist</h3></div>
    <div class="col-md-4"></div>
    <div class="col-md-4"></div>
</div>

<form #editArtistForm="ngForm" (ngSubmit)="editArtist(editArtistForm.value)" autocomplete="off" novaligenre>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group" [ngClass]="{'error': editArtistForm.controls.name?.invalid && editArtistForm.controls.name?.touched}">
                <label for="artistName">Name*:</label>
                <em *ngIf="editArtistForm.controls.name?.invalid && (editArtistForm.controls.name?.touched)">Required</em>
                <input [(ngModel)]="artist.name" name="name" required id="name" type="text" class="form-control" placeholder="Name of your artist..." />
            </div>
            <div class="form-group" [ngClass]="{'error': editArtistForm.controls.genre?.invalid && editArtistForm.controls.genre?.touched}">
                <label for="artistGenre">Genre*:</label>
                <em *ngIf="editArtistForm.controls.genre?.invalid && (editArtistForm.controls.genre?.touched)">Required</em>
                <input [(ngModel)]="artist.genre" name="genre" required id="artistGenre" type="text" class="form-control" placeholder="Type a genre..." />
            </div>
            <div class="form-group" [ngClass]="{'error': editArtistForm.controls.country?.invalid && editArtistForm.controls.country?.touched}">
                <label for="artistCountry">Country:</label>
                <em *ngIf="editArtistForm.controls.country?.invalid && (editArtistForm.controls.country?.touched)">Required</em>
                <!--  -->
                <select [(ngModel)]="artist.country" name="country" id="countrySelect" class="form-control  notRequired" >
                        <option value="" >Select country...</option>
                        <option value="Tahiti">Tahiti</option>
                        <option value="Taiwan">Taiwan</option>
                        <option value="Tajikistan">Tajikistan</option>
                        <option value="Tanzania">Tanzania</option>
                        <option value="Thailand">Thailand</option>
                        <option value="Togo">Togo</option>
                        <option value="Tokelau">Tokelau</option>
                        <option value="Tonga">Tonga</option>
                        <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option>
                        <option value="Tunisia">Tunisia</option>
                        <option value="Turkey">Turkey</option>
                        <option value="Turkmenistan">Turkmenistan</option>
                        <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option>
                        <option value="Tuvalu">Tuvalu</option>
                        <option value="Uganda">Uganda</option>
                        <option value="Ukraine">Ukraine</option>
                        <option value="United Arab Erimates">United Arab Emirates</option>
                        <option value="United Kingdom">United Kingdom</option>
                        <option value="United States of America">United States of America</option>
                        <option value="Uraguay">Uruguay</option>
                        <option value="Uzbekistan">Uzbekistan</option>
                        <option value="Vanuatu">Vanuatu</option>
                        <option value="Vatican City State">Vatican City State</option>
                        <option value="Venezuela">Venezuela</option>
                        <option value="Vietnam">Vietnam</option>
                        <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                        <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                        <option value="Wake Island">Wake Island</option>
                        <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option>
                        <option value="Yemen">Yemen</option>
                        <option value="Zaire">Zaire</option>
                        <option value="Zambia">Zambia</option>
                        <option value="Zimbabwe">Zimbabwe</option>

                </select>
                <!--  -->
            </div>

        </div>   

        <div class="col-md-4">
            
            <div class="form-group">
                <label for="artistDescription">Description:</label>
                <textarea [(ngModel)]="artist.description" name="description" class="form-control notRequired" id="descriptionTextarea" rows="4" placeholder="Say what do you like about it... "></textarea>
            </div>

            <div id="artistLink" class="form-group">
                <label for="artistLink">Link:</label>
                <input [(ngModel)]="artist.link" name="link" type="text" class="form-control notRequired" placeholder="URL..." />
            </div>

        </div>

        <div class="col-md-4">

            <div ngModelGroup="songs">
                <div class="form-group">
                    <label for="artistSong1">Remarkable Song:</label>
                    <input [(ngModel)]="artist.songs.song1" name="song1"  type="text" class="form-control notRequired" placeholder="Song Title.." />
                </div>
                <div class="form-group">
                    <label for="artistSong1">Another Song:</label>
                    <input [(ngModel)]="artist.songs.song2" name="song2"  type="text" class="form-control notRequired" placeholder="Song Title.." />
                </div>
            </div>

            <div class="form-group">
                <label for="artistAlbum">Best Album:</label>
                <input [(ngModel)]="artist.album" name="album"  type="text" class="form-control notRequired" placeholder="Album Title.." />
            </div>
        </div>
    
</div>


    <div class="row">
        <div class="col-md-12">
            <button id="saveBtn" type="submit" [disabled]="editArtistForm.invalid" class="btn btn-outline-primary col-md-10">Save</button>
            <button id="cancelBtn" type="button" class="btn btn-secondary col-md-2" (click)="cancel()">Cancel</button>
        </div>
    </div>

</form>
