<div class="container">
    
    <!-- <img [src]="artist?.imageUrl" [alt]="artist?.name" class="artist-image"> -->
  
    <div class="row">
        <div class="col-md-4">
            <div class="backLink">
                <a [routerLink] = "['/artists']">Back to your artists list</a>
              </div>
        </div>
          <div class="col-md-4 text-center">
            <h2>{{artist?.name}} </h2>
            <hr>
          </div>
      <div class="col-md-4"></div>
    </div>
  
    <div class="row ">
      <div class="col-md-3"></div>
      
      <div class="col-md-3 infoBg">
        
        <div class="genreBadge"><strong>Genre: <br> </strong> <span class="badge badge-secondary">{{artist?.genre}}</span></div>
        <div class="songClass" *ngIf="artist.songs" >Remarkable Song: <br><strong>{{artist?.songs.song1}}</strong></div>
        <div class="songClass" *ngIf="artist.songs" >Another Good Song: <br><strong>{{artist?.songs.song2}}</strong></div>
        <div class="songClass" *ngIf="artist.album" >Best Album: <br><strong>{{artist?.album}}</strong></div>
      </div>
      <div class="col-md-4 infoBg">

        <div id="buttonsContainer">
          <button id="editBtn" class="btn btn-outline-primary" type="button" (click) ="editDetails()">Edit Artist</button>
          <button id="delBtn" class="btn btn-outline-danger" type="button" (click) ="deleteArtist()">Delete Artist</button>
        </div>

        <div *ngIf="artist.country" class="countryTxt" >Country: <strong><br>{{artist?.country}}</strong></div>
        <div *ngIf="artist.description"> <strong>Description:</strong><br /> {{artist?.description}}</div>
        <div *ngIf="artist.link" class="linksBlock"><strong>Link:</strong><br>{{artist?.link}}</div>

        <div *ngIf="artist.dateAdded" class="dateBlock"><strong>Date Added:</strong><br>{{artist.dateAdded}}</div>

    </div>

    <div class="col-md-2"></div>

</div>
  