.container{
    padding: 0;
}

.infoBg{
    background-color: rgb(43, 43, 43);
    padding: 20px;
}

.artist-image{
    height: 100px;
}

.linksBlock{
    margin-top: 20px;
}

.backLink{
    padding: 10px 0 10px 20px;
}

.songClass{
    margin-top: 20px;
}

.genreBadge{
    margin-bottom: 20px;
}


.dataTxt{
    color: #f1f1f1;
}

.countryTxt{
    margin-bottom: 20px;
}

.buttonsBar{
    padding: 5px;
    background-color: #1f202e;
    margin-bottom: 1px;
}

#editBtn{
    width: 90px;
    font-size: 0.7em;
    margin-right: 15px;
    background-color: black;
}

#delBtn{
    width: 90px;    
    font-size: 0.7em;
    background-color: black;
}

.dateBlock{
    margin-top: 20px;
}
