.container{
    padding: 0;
}

.artist-image{
    height: 100px;
}

.linksBlock{
    margin-top: 20px;
}

.backLink{
    padding: 10px 0 10px 20px;
}

.songClass{
    margin-top: 20px;
}

.genreBadge{
    margin-bottom: 20px;
}


.dataTxt{
    color: #f1f1f1;
}

.countryTxt{
    margin-bottom: 20px;
}

